* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --color-black-two: #222222;
  --color-black: #000;
  --color-white: #fff;
  --color-pink: #FC4B63;
  --color-gray: #f5f5f5;
  --color-gary-imp: #ededed;
  --color-blue: #1DAFEC;

  --primary-color: var(--color-blue);
  --secondary-color: var(--color-white);
  --tertiary-color: var(--color-black-two);
  --font-color: var(--color-black);
}